<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.nrbsistemas.uniderpapp">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/uniderplogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.LoginActivity" />
        <activity
            android:name=".view.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".view.AdmActivity" />
        <activity android:name=".view.CalcularNotasActivity" />
        <activity android:name=".view.ProfessoresCadastroActivity" />
        <activity android:name=".view.AlunosActivity" />
        <activity android:name=".view.NotasActivity" />
        <activity android:name=".view.CalendarioActivity" />
        <activity
            android:name=".view.AlunoCadastroActivity"
            android:label="@string/title_activity_aluno_cadastro"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.GradeActivity" />
        <activity
            android:name=".CadProActivity"
            android:label="@string/title_activity_cad_pro"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>